body{
    background: rgb(174,188,238);
    background: radial-gradient(circle, rgba(174,188,238,1) 13%, rgba(190,233,148,1) 100%);
    font-family: sans-serif;
}
.body-inner{
    width: 100%;
    text-align: center;
}
.sprint-1{
    width: 98%;
    height: 585px;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    margin: 1%;
}
.sprint-inner{
    text-align: center;
}
.cards{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2%;
}
.card{
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 150px;
    box-shadow: 0 0 10px black;
    margin-bottom: 70px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
    transition: all 1s ease;
}
.card-inner{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
}
.card-main{
    display: flex;
    justify-content: space-around;
}
.button{
    width: 100px;
    height: 30px;
    margin-top: 25px;
    border: 2px solid black;
}
.button:hover{
    background-color: black;
    transition: all 1s ease;
}
.text{
    margin-top: 20px;
    color: blue;
}
.sprint-2{
    width: 98%;
    height: 710px;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    margin: 1%;
}
@media only screen and (min-width: 200px) and (max-width: 1000px) {
    .card{
        margin-bottom: 8%;
    }
    .cards{
        justify-content: unset;
        margin-top: 2%;
        height: auto;
    }
    .sprint-1{
        box-shadow: none;
        width: 100%;
        height: auto;
        margin: 2%;
    }
    .sprint-2{
        box-shadow: none;
        width: 100%;
        height: auto;
        margin: 2%;
    }
}